label {white-space: nowrap;}
.left-block{margin-top: 25px; padding-top: 25px; border-top: 1px solid #777; font-weight: bold;}
.left-block div {display: flex; padding: 5px 10px 5px 5px; justify-content: space-between;}
.menu-value {color: #fff;}
.checkbox-label{margin-left: 3em; position: relative; top: -2px;}
.switch-block {margin: 20px 0px 15px 0px;}
.header-block {color: #777;}
.nested {padding: 0px 10px 0px 10px; border: 1px solid #777;}
.mr {margin: 15px 0px 15px 0px !important;}
.spacer {text-align: center; font-weight: 300; color: #777; padding-bottom: 10px; margin: 15px 0px 15px 0px; border-bottom: 1px solid #777;}
.comment {margin: 1em 0;}
.frame {width: 100%; height: 480px; min-height: 50px; resize: vertical;}
.iframe {resize: vertical; width: 100%; height: 100%; frameborder: 0; scrolling:"yes";}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display : none;
}

/* Button shade style */
button{
  position:relative;
  transition:500ms ease all;
  outline:none;
}
button:hover{
  background:#eee!important;
  color:rgb(0, 120, 230)!important;
  box-shadow: 3px 3px 5px 2px #97B1BF;
}
button:focus{
  opacity: 0.7;
  box-shadow: unset;
  background: rgb(0, 140, 250);
  color:rgb(50, 50, 50)!important;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(0, 120, 230);
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:1000ms ease all;
}

/* Sensor displays
 style inspired by https://github.com/viperet/esp8266-power-monitor */
.display {
  text-align: center;
  background: #000;
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 255);
  box-shadow: 0px 0px 2px 6px rgba(0,0,0,0.5);
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.display > div {
  display: inline-block;
  margin: 0 auto;
  padding: 0.15em 0.1em 0 0.1em;
  color: #FFF;
  line-height: 1em;
  text-align: center;
  font-family: 'Courier Prime';
  font-size: 45px;
  background: linear-gradient(0deg, rgba(220,220,255,1) 25%, rgba(180,80,80,1) 50%, rgba(220,220,255,1) 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display > div::before {
  font-family: sans-serif;
  font-size: 0.5em;
  padding: 0 1em 0 0.5em;
  -webkit-text-fill-color: rgb(220, 223, 93);
}

.display > div::after {
  font-family: sans-serif;
  font-size: 0.5em;
  height: 3vh;
  padding: 0 0 0 0.5em;
  -webkit-text-fill-color: rgb(192, 178, 178);
}

/*
example of additional styles for display divs
#vcc:before {
  content: 'Vcc:';
}
#vcc:after {
  content: 'V';
}
*/