# Build examples with Platformio
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
# https://docs.platformio.org/en/latest/integration/ci/github-actions.html

name: PlatformIO CI

on:
  workflow_dispatch:      # Manual start
  push:
#    branches: [ main, feat, v2.6, 2.6tst, stage ]
  pull_request:
    branches: [ main ]
    paths:
    - '**.ino'
    - '**.cpp'
    - '**.hpp'
    - '**.h'
    - '**.c'
    - '**.ini'
    - '**.yml'


jobs:
  CI Build:  
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        example:
          - "examples/01_generic"
          - "examples/02_sensors"

    steps:
    - uses: actions/checkout@v4
    - name: PIO Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio
        #restore-keys: |
        #  ${{ runner.os }}-pio
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install Platformio
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
        #platformio pkg update
    - name: Patch Platformio
      run: |
        echo "REPO_NAME=$(basename ${{ github.repository }})" >> $GITHUB_ENV
        cd $(dirname $(which pio) )
        cd ../
        echo $(find -type d -name site-packages)
        cd   $(find -type d -name site-packages)
        pwd
        git apply --verbose $GITHUB_WORKSPACE/extra/0001-LDF-refresh-lib-dependency-after-recursive-search.patch
        cd $GITHUB_WORKSPACE
    - name: PlatformIO Build
      env: 
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
      run: |
        cd ${{ matrix.example }} && platformio run
        #platformio run -c ${{ matrix.example }}/platformio.ini
        #pio ci -c ${{ matrix.example }}/platformio.ini
