# Build examples with Platformio
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
# https://docs.platformio.org/en/latest/integration/ci/github-actions.html

name: PlatformIO CI

on:
  workflow_dispatch:      # Manual start
#  push:
#    branches: [ main, feat, v2.6, 2.6tst, stage ]
  pull_request:
    branches: [ main ]
    paths:
    - '**.ino'
    - '**.cpp'
    - '**.hpp'
    - '**.h'
    - '**.c'
    - '**.ini'
    - '**.yml'


jobs:
  CI_Build:
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      max-parallel: 2
      matrix:
        example:
          - "ci_core3.ini"
          #- "ci_core3.ini"

    steps:
    - uses: actions/checkout@v6
    - name: PIO Cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio
        #restore-keys: |
        #  ${{ runner.os }}-pio
    - name: Set up Python 3.x
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install Platformio
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
        #platformio pkg update
    - name: PlatformIO Build
      env: 
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
      run: |
        pwd
        ls -la
        mv $GITHUB_WORKSPACE/examples ~/
        cd ~/examples/01_generic && platformio run -c ${{ matrix.example }}
        cd ~/examples/02_sensors && platformio run -c ${{ matrix.example }}
        #platformio run -c ${{ matrix.example }}/platformio.ini
        #pio ci -c ${{ matrix.example }}/platformio.ini
